html{
  background-color: rgb(23, 16, 60);
}
.container-fluid{
  background-color: rgb(23, 16, 60);
}

input[type = "text"]{
  background: transparent;
  color:white;
}
input[type = "text"]:focus{
  background: transparent;
  color: white;
}
/* cc */